.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.servises-container {
  width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  }

.servises-bottom-container {
  width: 1150px;
  // width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  }

.collaction-container {
  width: 1151px;
  margin: auto;
  padding: 0 20px;
}

.footer-container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}
 .workc-container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
  }