.cards {
    padding-bottom: 168px;

    &__box{
        display:flex;
        justify-content: space-between;
    }

    &__container {
        width: 100%;
        max-width: 1150px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

// LEFT
.left {
    width: 255px;
    padding: 45px 0 0 0;

    &__title {
        margin: 24px 0;
        margin-bottom: 24px;
        padding: 0;
        font-family: Fraunces;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;

    }

    &__title {
        margin-right: 24px;
    }

    &__controller{
        color: #ADB1B7;
    }

    &__controller:hover {
        color: #848990;
        cursor: pointer;
    }
}



input:checked + .left__controller {
        color: #333D4B;
    }

input:disabled + .left__controller{
        color: #848990;
        cursor: default;
    }

// RIGHT

.right {
    width: 100%;
    max-width: 730px;
    &__title{
        margin: 0;
        margin-bottom: 56px;
        font-family: Fraunces;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #83888F;
    }

    &__form{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 88px;
    }

    &__controller {
        display: inline-block;
        width: 228px;
        height: 250px;
        padding: 32px 28px;
        border-radius: 8px;
        color: #333D4B;
        background: #F4F1EB;
    }


}

.controller__title {
    margin: 0;
    margin-bottom: 24px;
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;

}

.controller__desc {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

input:checked + .right__controller {
    background: #0E8784;
    color: white;
}



.right {


    &__bottom {
        display: flex;
        flex-direction:column;
        justify-content: flex-end;

    }

    &__bottom--box {
        margin: 0;
        margin-bottom: 40px;
        padding: 27px 64px;
        background-color: #2C343E;
        border-radius:10px;
    }

    &__bottom--title {
        margin: 0;
        margin-bottom: 8px;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
    }

    &__bottom--desc {
        margin: 0;
        font-family: Fraunces;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        color: #FFFFFF;
    }

    &__bottom--desc1 {
        color: #0E8784;
    }

    &__controller:hover {
        background: #FDD6BA;
    }


}

.button--bottom {
        width: 210px;
        margin: 0;
        margin-left: auto;
    }