.collaction {

    &__container {
        width: 100%;
        max-width: 1151px;
        margin: auto;
        padding: 0 20px;
    }


    &__box {
        margin-bottom: 200px;
        margin: 0 0 200px;
        padding-top: 126px;
        position: relative;
        background-image: url(../imiges/Group13.png);
        background-repeat: no-repeat;
        background-size:100%;
    }


    &__list {
        display: flex;
        margin: 0;
        margin-bottom: 200px;
        padding: 0;
    }

    &__item {
        display: flex;
        margin: 15px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 255px;
        list-style: none;
    }

    &__img{
        width: 100%;
        max-width: 255px;
    }


    &__item-title {
        margin: 0;
        text-align: center  ;
        font-family: Fraunces;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #333D4B;
    }

    &__item-desc {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
    }
}

@media only screen and(max-width:768px) {
    .collaction {
        &__list {
            flex-direction: column;
            padding:0 20px 0 0px;
        }

        &__item {
            flex-direction: row;
            width: 100%;
            max-width: 573px;
        }

        &__item-desc,&__item-title {
            text-align: left;
        }


        &__img {
            max-width: 50%;
        }
    }
}

@media only screen and(max-width:480px) {
    .collaction {
        &__list {
            align-items: center;

        }

        &__item {
            flex-direction: column;
            max-width: 300px;
        }

        &__item-desc,&__item-title {
            text-align: center;
        }

        &__img {
            max-width: 400px;
            margin-bottom: 24px;
        }

    }










}
