
.gread {
  &__walper {
    margin: 0 0 136px;
    padding:  117px 0 116px 86px;
    background-image: url(../imiges/Bitmap.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 10px;
  }

  &__wrap {
    padding: 0;
    width: 100%;
    max-width: 493px;
  }

  &__titele {
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
  }

  &__desc {
    margin: 0;
    margin-bottom: 71px;
    padding: 0;
    width: 100%;
    max-width: 445px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
  }
}

@media only screen and (max-width:924px) {

}