
.headquarters{
    margin-bottom: 168px;

    &__contaiher {
        max-width: 1150px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__title {
        margin: 0;
        margin-bottom: 72px;
        font-family: Fraunces;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: #83888F;
    }

    &__item {
        margin: 0;
        width: 285px;
        margin-right: 95px;
        list-style: none;
    }

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
    }

    &__item--title {
        margin: 0;
        margin-top: 46px;
        margin-bottom: 24px;
        font-family: Fraunces;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
    }

    &__item--desc {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
    }
}