.header {
    margin: 0;
    padding: 45px 0;

    &__link {
        width: 236px;
        height: 26px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__hamburger {
        display: none;
        width: 20px;
        height: 20px;
        background-image: url(../imiges/bars-solid.svg);
        background-repeat: no-repeat;
        background-color: #fff;
        border:none;
        transition: 0.2s;
    }
}




.sitenav{
    margin: 0;

    &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    }

    &__item + .sitenav__item {
        margin: 0;
        margin-left: 32px;
    }

    &__linc {
        margin: 0;
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;;
        color: #83888F;
    }

    &__linc:hover {
    color: #000;
    }

    &__linc:active {
    opacity: 0.7;
    }
}


@media only screen and (max-width:551px) {
    .header {

        &__container{
            position: relative;
        }
        &__hamburger {
            display: inline-block;
        }
    }

    .sitenav {
      display: none;
    }

    .header__open .sitenav {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 58px;
        left: 10px;
        right:10px;
        margin-left: 20px;
        margin-right: 20px;
        max-width :85%;
        width: 100%;
        margin: 0 auto;
        background-color:#0E8784;
        color:white;
        border-radius: 10px;
        border: 1px solid #043c3b;


    }

    .header__open .sitenav__list {
        align-items:center;
        flex-direction: column;
        padding: 15px 0;
        color:white;
    }

    .header__open .sitenav__item {
        margin: 0;
        margin: 10px 0;
    }

    .header__open .sitenav__linc {
        color: white;
    }
}