.servises {
    margin: 0;
    padding-bottom: 351px;


  &__container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__bottom-container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
    }

  &__box {
    width: 100%;
    max-width: 1280px;
    margin: 0;
    padding: 0 24px 288px;
    background: #2c343e;
    border-radius: 10px;
  }

  &__title {
    margin-bottom: 32px;
    padding-top: 100px;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
  }

  &__desc {
    margin: 0 auto;
    margin-bottom: 86px;
    width: 100%;
    max-width: 540px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    opacity: 0.8;
  }

  &__bottom {
    position: relative;
  }

  &__list {
    display: flex;
    align-items: center;
    position: absolute;
    margin: auto;
    padding: 0;
    top: 86px;
    left: 30px;
    right: 30px;
    margin: -15px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 72px 47px 48px 47px;
    width: 100%;
    max-width: 345px;
    list-style: none;
    background: #0E8784;
    border-radius: 8px;
  }

  &__item-img {
    width: 100%;
    max-width: 72px;
    height: 100%;
    max-height: 72px;
    margin-bottom: 56px;
  }

  &__item-title {
    margin: 0;
    margin-bottom: 24px;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;

  }

  &__item-desc {
    margin: 0;
    width: 100%;
    max-width: 255px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
  }
}


@media only screen and (max-width: 1200px) {
  // .servises__box {
  //   // padding-bottom: 238px;
  // }

  .servises__list {
    position: absolute;
    top:102px;
  }

  .servises__item {
    padding: 45px 30px 30px;
  }

  .servises__bottom {
    justify-content: center;
  }
}

@media only screen and (max-width: 1080px) {
  .servises__box {
    padding-bottom: 200px;
  }

  .servises__item-img {
    margin-bottom: 30px;
  }

  .servises__list {
    position: absolute;
    top: 55px;
  }

  .servises__item {
    // width: 250px;
    padding:  20px 15px;
  }
}

@media only screen and (max-width:930px) {
  .servises {
   &__list {
    display: flex;
    flex-direction: column;
    // flex-wrap: ;
    position: absolute;
    margin: auto;
    padding: 0;
    top: 50px;
    left: 56px;
    right: 56px;
    margin: -15px
  }

  &__item {
    flex-direction: row;
    padding: 41px 48px 41px 70px;
    max-width: 700px;
    width: 100%;
  }

  &__item-title, &__item-desc {
    text-align: left;
  }

  &__box {
    padding-bottom: 368px;
  }

  &__item-img {
    margin: 0 55px 0  0;
  }

  &__item-desc {

    max-width: 344px;
    width: 100%;
  }
}
}

@media only screen and (max-width:730px) {
  .servises {
    &__item {
      padding: 40px 30px 30px 40px ;
    }

    &__item-title {
      margin-bottom: 15px;
    }

    &__item-img {
      margin: 0 30px 0  0;
    }
  }

}

@media only screen and (max-width:553px) {
  .servises {
    padding-bottom: 500px;

     &__item {
      flex-direction: column;
    }

    &__item-img {
      margin: 0 0  20px  0;
    }

    &__item-desc, &__item-title  {
      text-align: center;
    }

    &__list {
      top: -55px;
      left: 24px;
      right: 24px;
    }
  }
}

@media only screen and (max-width:489px) {
.servises {
  padding-bottom: 520px;
  &__box {
    padding-bottom: 450px;
  }

  &__list {
    position: absolute;
    top: 0px;
  }

}
}

@media only screen and (max-width:383px) {

  .servises {
    padding-bottom: 600px;
  }
  .servises__list {
    position: absolute;
    top: -50px;
  }
}

@media only screen and (max-width:342px) {

  .servises {
    padding-bottom: 500px;

    &__list {
      top: -55px;
      left: 15px;
      right: 15px;
    }

    &__item{
      padding: 20px 15px;
    }
  }
  .servises__list {
    position: absolute;
    top: -70px;
  }



}