.works {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
    margin-bottom: 159px;

    &__container {
      width: 100%;
      max-width: 1150px;
      margin: 0 auto;
      padding: 0 20px;

    }
  }

.works{
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin: 0;
    margin-bottom: 80px;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
  }

  &__line-box {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 67px;
  }

  &__line-box::before {
    content:"";
    position: absolute;
    left: 1.5%;
    width: 100%;
    max-width: 67%;
    height: 1px;
    border: 1px solid #fdd6ba;
    background-color: #fdd6ba;
  }


  &__list {
    display: flex;
    margin-bottom: 64px;
    padding: 0;

  }

  &__item {
    width: 100%;
    max-width: 283px;
    margin: 0;
    // margin: 45px 45px
    list-style: none;
  }

  &__item + &__item {
    margin-left: 90px;
  }

  &__item-img {
    margin: 0;
    margin-bottom: 38px;
  }

  &__item-title {
    width: 100%;
    max-width: 210px;
    margin: 0;
    margin-bottom: 42px;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
  }



  &__item-title1{
    color: #fff;
  }
  &__item-desc {
    margin: 0;
    width: 100%;
    max-width: 285px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
  }

  &__item-desc1 {
      color:#fff;
  }

  &__wrapper1   {
    padding: 100px 0 99px;
    border-radius: 10px;
    background: #2C343E;
  }

  &__button {
    width: 220px;
  }
}


.oval {
  margin: 0;
  display: inline-block;
  z-index: 2;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #fefcf7;
  border: 2px solid #0e8784;
}

.oval2 {
  margin: 0;
  display: inline-block;
  z-index: 2;
  width: 100%;
  max-width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 2px solid #0e8784;
  background: #2C343E;
}

.oval1, .oval3 {
  margin-left: 30%;
}

.oval3 {
  margin-left: 361px;
}

@media only screen and (max-width:870px) {

  .works {
  &__item + &__item {
    margin-left: 20px;
  }
}
}

@media only screen and (max-width:768px) {
  .works {
    &__wrapper {
      display: flex;
      align-items:center;
    }

    &__header {
      margin:0;
    }

    &__line-box {
      display: none;
    }

    &__list {
      margin-top: 60px;
      text-align: center;
      align-items:center;
      flex-direction: column;
      padding: 0;
    }

    &__item {
      text-align: center;
      max-width: 80%;
      margin: 0;
      margin-bottom: 56px;
      padding: 0;
    }

    &__item-title {
      text-align: center;
      margin: 0;
      max-width: 100%;
    }

    &__item-desc {
      max-width: 400px;
      text-align: center;
      margin: 0;
      max-width: 100%;
    }
  }
}


@media only screen and (max-width:768px) {
  .works {



  }
}